.about{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.atext{
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 0 80px 0;
}

.rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 0 120px 0;
    border-top: 1px solid gray;
}
.rating p span{
    color: greenyellow;
    font-size: 48px;
    font-weight: 900;
}

.rating p{
    color: white;
}

/* grid */

.gridc{
    max-width: 1200px;
    min-height: 780px;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    padding: 40px 0 120px 0;
}

.box1{
    grid-row: 1/ span 2;
    border-radius: 20px;
background: rgba(53, 17, 101, 0.4);
text-align: left;
padding: 40px;
padding-top: 150px;
}
.box2{
    grid-column: 2/ span 2;
    border-radius: 20px;
background: rgba(53, 17, 101, 0.4);
text-align: start;
padding: 40px;
}
.box3{
    grid-column: 2/ span 2;
    border-radius: 20px;
background: rgba(53, 17, 101, 0.4);
text-align: start;
padding: 40px;
}
.box4{
    grid-column: 1/ span 2;
    border-radius: 20px;
background: rgba(53, 17, 101, 0.4);
text-align:start;
padding: 40px;
}

.box5{
    border-radius: 20px;
background: rgba(53, 17, 101, 0.4);
text-align: start;
padding: 40px;
}
.cardheader{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}
@media screen and (max-width:576px) {
    .about{
    padding: 0 20px;}
    .rating{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        padding-bottom: 40px;
    }
    .atext{
        padding: 40px 0;
    }
    .rating p{
        margin-bottom: 40px;
    }
    .gridc{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .box1{
        padding:40px;
    }
}
