.about{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.atext{
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 0 80px 0;
}

.rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 0 120px 0;
    border-top: 1px solid gray;
}
.rating p span{
    color: greenyellow;
    font-size: 48px;
    font-weight: 900;
}

.rating p{
    color: white;
}

@media screen and (max-width:576px) {
    .about{
    padding: 0 20px;}
    .rating{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        padding-bottom: 40px;
    }
    .atext{
        padding: 40px 0;
    }
    .rating p{
        margin-bottom: 40px;
    }
}
