.cardsection{
    margin: 0 auto;
    text-align: center;
    color: white;
}

.cardholder{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-bottom: 200px;
}

.card{
max-width: 380px;
max-height: 214px;

}

.cardt{
    padding: 24px;
    text-align: left;
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 0 0 24px 24px;
}

.cardt h3{
    font-size: 24px;
    font-weight: 700;
}

.cardt p{
    padding-top: 10px;
}

@media screen and (max-width:576px) {

   
    .cardholder{
        display: flex;
        flex-direction: column;
        
    }
    .card{
        max-height: 500px ;
        max-width: 576px;
        padding: 0 20px;
    }
    .cardsection{
        margin-top: 40px;
    }

    .youtube{width: 100%;

    }
}

