.meet{
    margin: 0 auto;
    text-align: center;
}

.hhh{
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.hparent{
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
    gap: 24px;
    text-align: left;
    background-color: rgba(53, 17, 101, 0.4);
    margin-top: 40px;
    margin-bottom: 120px;
}
.sicons{
    display: flex;
    margin-top: 20px;

}

.sicons div a{
    margin-right: 10px;
    
box-sizing: border-box;
border: 1px solid rgba(83, 60, 114, 1);
size: 10px;
border-radius: 100%;
padding: 7px;
    
}

@media screen and (max-width:576px) {
    .meet{padding: 20px;}
    .hparent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .sicons{
        display: flex;
        justify-content: center;
    }
}
